body{
  background-image: linear-gradient(cyan, purple);
    color: white;
  font-family: arial, helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid cyan;
  background-color: rgba(0,0,0,0.1)
}
.ul[
text-align: left;
]
.div{
  text-align: left;
  border: 4px solid gold;
}
img{
  width: 250px;
  border-radius: 50%;
  padding: 10px;
    float: left;
    width: 150px;
    
}
experience{
  width: 100%;
}
